/* Background */
ion-header ion-toolbar {
    --core-header-toolbar-background: #00568d;
}

/* Bottom border */
ion-header ion-toolbar {
    --core-header-toolbar-border-width: 2px; /* Use 0 to disable it */
    --core-header-toolbar-border-color: white;
}

/* Text and buttons */
ion-header ion-toolbar {
    --core-header-toolbar-color: white;
}

ion-header ion-toolbar.in-toolbar h1,
ion-header ion-toolbar.in-toolbar h2 {
    font-weight: normal;
}
html {
    --core-login-background: white;
    --core-login-text-color: #00568d;
    --core-login-input-background: ##c6c8c9;
    --core-login-input-color: #00568d;
    --primary: #00568d;
}
/* Estiliza todos os inputs */
input,
ion-input .native-input {
    background-color: #00658d; /* Fundo azul escuro */
    color: white; /* Cor do texto do input para contraste */
    border: none; /* Remove bordas, se necessário */
    padding: 0.5em; /* Ajusta o padding, */
}

/* Estiliza o placeholder de todos os inputs */
input::placeholder,
ion-input .native-input::placeholder {
    color: #fff; /* Cor branca do texto do placeholder */
    opacity: 1; /* Garante que a cor do placeholder seja visível */
}
ion-tab-bar[_ngcontent-ng-c398777191] {
    --background: #00658d;
    --color: #ffffff;
    --color-selected: var(--core-bottom-tabs-color-selected);
    --background-selected: var(--core-bottom-tabs-background-selected);
    height: var(--menutabbar-size);
}
*{
--primary: #00568d !important;    
}
/* Exemplo de estilização baseada em classes específicas */
.plt-android ion-input .native-input {
    background-color: #00658d;
    color: white;
}

.plt-mobile ion-input .native-input {
    background-color: #00658d;
    color: white;
}

.theme-site-boost_magnific ion-input .native-input {
    background-color: #00658d;
    color: white;
}

/* Estilo do Placeholder */
input::placeholder,
ion-input .native-input::placeholder {
    color: #fff;
    opacity: 1;
}

/* Estilo do Tab Bar */
ion-tab-bar {
    --background: #00658d;
    --color: #ffffff;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    /* Adicione estilos específicos para dispositivos móveis se necessário */
}
