/* Background */
ion-header ion-toolbar {
    --core-header-toolbar-background: #00568d;
}

/* Bottom border */
ion-header ion-toolbar {
    --core-header-toolbar-border-width: 2px; /* Use 0 to disable it */
    --core-header-toolbar-border-color: white;
}

/* Text and buttons */
ion-header ion-toolbar {
    --core-header-toolbar-color: white;
}

ion-header ion-toolbar.in-toolbar h1,
ion-header ion-toolbar.in-toolbar h2 {
    font-weight: normal;
}
html {
    --core-login-background: white;
    --core-login-text-color: #00568d;
    --core-login-input-background: #00568d;
    --core-login-input-color: white;
}
input::placeholder {
    color: #888; /* Cor do texto do placeholder */
    font-style: italic; /* Estilo da fonte */
    font-size: 14px; /* Tamanho da fonte */
}
